#photoviwer {
	width:100%; 
	height:100%; 
	background-color: rgba( 0, 0, 0, 0.8 );
	position:fixed; 
	top:0%; 
	left:0px;  
	z-index : 150;
	border:2px solid #000;
}

.hidden {
	display : none;
}

#btnClose {
	 width:10px;
	 position:absolute;
	 left:0px;
	 color:white;
	z-index: 160;
}

.comment_popup_img{
	position : absolute;
	width:100%; 
	height:100%; 
	align: center;
	display: block;
	margin-left:auto;
	margin-right:auto;
	overflow : hidden;
}

.popImgList {
	position : absolute;
	top : 50%;
/* 	left : 50%; */
	transition:translate(-50%,-50%);
	-moz-transition:translate(-50%,-50%);
	-webkit-transition:translate(-50%,-50%);
}
.image-popup-ab{
/* 	position : absolute;
	top : 50%;
	left : 50%;
	transition:translate(-50%,-50%);
	-moz-transition:translate(-50%,-50%);
	-webkit-transition:translate(-50%,-50%); */
}
.group_frame{
	width:100%;
	height:100%;
}