#photoviewer {
    display: none;
    position: fixed;
	/* width: 100vw; */
	height: 100vh;
	top: 0;
    left: 0;
    right: 0;
    bottom: 0;
	background: rgba(0,0,0,0.9);
    min-width: 320px; 
    max-width: 414px; 
    margin: 0 auto;  
    z-index: 9100;
}

#photoviewer label {
	width: 58px;
	height:58px;
	position: absolute;
	right: 20px;
    top: 20px;
    bottom: 100px;
	background: url('https://tympanus.net/Development/FullscreenOverlayStyles/img/cross.png');
	z-index: 9300;
    cursor:pointer;
}

.popup {
    height: 800px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.popup_title {
    width:100%;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    background: rgba(0,0,0,0.9);
    min-height: 100px;
    max-height: 200px;
    z-index: 9200;
}

.popup_title .nxt i.arr_img, .popup_title .prev i.arr_img {
    color: #fff;
    align-self: center;
    background-image: url(../img/spr_book2.png);
    background-size: 330px 400px;
}

.popup_title .preview_center h3 {
    color: #fff;
    font-size: 30px;
    font-weight: 350;
    align-self: center;
}

.popup_title .preview_center p {
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    display: flex;
    align-self: center;
    justify-content: center;
}

.popup_content {
    width:100%;
    height: 500px;
    overflow: hidden;
    position: relative;
    display: block;
    word-wrap: normal;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    moz-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 9200;
}

.popup_content .photo_list {
    position: relative;
    min-height: 500px;
    font: 0/0 a;
    color: #fff;
    white-space: nowrap;
    z-index: 9200;
}

.popup_content .photo_list .item {
    width: 100%;
    overflow: hidden;
    position: relative;
    white-space: normal;
    vertical-align: top;
    list-style-type:none;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    box-sizing: border-box;
    z-index: 9300;
}

.popup_title .preview_center {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100px;
    justify-content: center;
    align-content: center;
}

.popup_title .prev, .popup_title .nxt {
    display: flex;
    width: 25px;
    height: 100px;
    justify-content: center;
    align-content: center;    
}

.popup_title .prev .arr_img_lt {
    width: 11px;
    height: 20px;
    background-position: -151px -50px;
}

.popup_title .nxt .arr_img_rt {
    width: 11px;
    height: 20px;
    background-position: -164px -50px;
}