{{#if event}}
<div class="event_info_box">
    <div class="event_info_tit">
        <h4 class="in_tit"> <i class="spr_book ico_evt"></i> <span>이벤트 정보</span> </h4>
    </div>
    <div class="event_info">
        <div class="in_dsc">{{event}}</div>
    </div>
</div>
{{/if}}
